fastapi
langchain
langchain_openai
langchain_groq
langchain_core
langchain_community
langchain_tavily
langchain_anthropic
langgraph
watchdog
langgraph_cli[inmem]
uvicorn
dotenv
mcp
supabase
langchain-mcp-adapters 